*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100vh;
  /* overflow: hidden; */
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar{
  display: none;
}

.dynamicInputs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  padding-right: 2px;
}

.dynamicInputs > input{
  height: 32px;
  width: 92%;
  border: none;
  padding: 0 6px;
}
.dynamicInputs > input:active{
  border: none;
}
.dynamicInputs > input:focus{
  border: none;
}

/* textfield styling */

.textField .ub-fnt-sze_14px{
font-size: 24px;
line-height: 55.5px;
}

.textField .ub-fnt-sze_12px{
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}