@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: 'Montserrat';
  color: #141820;
}
body::-webkit-scrollbar{
  display: none;
}
/* custom styles */
.customBtn{
  font-family: 'Montserrat';
}

/* custom styles ends */
.dynamicInputs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  padding-right: 2px;
}

.dynamicInputs > input{
  height: 45px;
  width: 92%;
  border: none;
  padding: 0 6px;
  outline: none;
  font-size: 17px;
}



/* textfield styling */

.textField .ub-fnt-sze_14px{
font-size: 24px;
line-height: 55.5px;
}

.textField .ub-fnt-sze_12px{
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.dynamicInputs .css-l4nqw5-MuiFormControl-root-MuiTextField-root .css-1mrdcig-MuiInputBase-root-MuiOutlinedInput-root{
  height: 45px !important;
}

.dynamicInputs .css-oi6i2j-MuiFormControl-root-MuiTextField-root .css-1mrdcig-MuiInputBase-root-MuiOutlinedInput-root {
  height: 45px !important;
}

/* profile toggle button */

